<!-- templates/account/passwordchange.html -->
{% extends 'base.html' %}

{% block title %}Change Password{% endblock %}

{% block content%}
<div class="container d-flex justify-content-center">
<div class="container my-5 w-50">
    <div class="card" style="padding:20px;">
        <h2>Change password for {{request.user}}</h2>
         <form method="post" class="card-text text-center">
    {% csrf_token %}
    {{form.as_p}}
    <button class="btn btn-primary" type="submit" name="button">Change Password</button>
</form>
    </div>
</div>
</div>
 <div class="container d-flex justify content-center">
         <a href="/">Back Home</a></p>
 </div>
    {% endblock  %}