{% extends 'base.html' %}

{% block css %}
.form-class {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

{% endblock %}

{% block title %}Sign up{% endblock title%}

{% block content %}
<div class="container my-4 bg pb-5">
    <div class="row justify-content-center ">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h1 class="display-6">Sign up!</h1>
                    <div class="form-class">
                        <form class="lead mx-2" method="post" action="{% url 'signupuser' %}">
                            {% csrf_token %}
                            First name: {{form.first_name}} <br><br>
                            Last name: {{form.last_name}} <br><br>
                            Username: {{ form.username }} <br><br>
                            Email id: {{ form.email }} <br><br>
                            Password: {{ form.password1 }} <br><br>
                            (Confirm): {{ form.password2 }} <br><br>
                            <button type="submit" class="btn btn-success">Sign up!</button>
                        </form>
                    </div>
                    <hr>
                    <p class="lead">Already have an account? <a href="{% url 'loginuser' %}" class="text-decoration-none">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}